<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

      <bean class='org.springframework.beans.factory.config.PropertyPlaceholderConfigurer'>
        <property name='properties'>
          <props>
            <prop key='key1'>referenced</prop>
            <prop key="referenced.bean">beanOne</prop>
          </props>
        </property>
          <property name="placeholderPrefix" value="#["/>
          <property name="placeholderSuffix" value="]"/>

      </bean>

      <bean id='beanTwo' class='com.irs.mybeans.Bean1'>
          <constructor-arg value="#[key1]"/>
      </bean>

      <bean id='beanOne' class='com.irs.mybeans.Bean1'>
          <constructor-arg value="#[#[key1].bean] constructor"/>
      </bean>

      <bean id='bean2' class='com.irs.mybeans.Bean2'>
        <property name='bean1'>
          <ref bean='#[#[key1].bean]'/>
        </property>
      </bean>
</beans>