<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!--<context:property-placeholder location="classpath:props/myprops4.properties,props/myprops5.properties" ignore-unresolvable="true" properties-ref="myprops"/>-->
    <bean id="bean1" class="com.irs.mybeans.Bean1">
        <constructor-arg value="${key1:default}"/>
        <property name="b1str1" value="${key2:default}"/>
    </bean>
    <bean id="propsBean" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="location" value="classpath:props/myprops4.properties"/>
        <property name="properties">
            <props>
                <prop key="key1">value1</prop>
            </props>
        </property>

    </bean>
    <context:property-placeholder properties-ref="propsBean"/>

</beans>